@layer components {
  .form-tags {
    @apply inline-flex bg-inks-6 rounded-md py-2 px-3 mx-[0.125rem] mb-[0.25rem] items-center overflow-hidden;
  }

  .form-tags-text {
    @apply text-whites-6 font-normal text-base leading-6 truncate;
  }
  .form-tags-close {
    @apply text-whites-6 ml-4 cursor-pointer;
  }
  .form-tags-input {
    @apply flex-1 outline-none  border-none bg-transparent py-3 pl-3 min-w-[100px] w-full;
  }

  .wrap_1 {
    position: relative;
  }

  .wrap_1:after {
    content: '';
    border-top: 1px solid #999999;
    width: 16px;
    transform: rotate(-45deg);
    background: transparent;
    position: absolute;
    right: 4px;
    bottom: 17px;
    pointer-events: none;
    border-radius: 25%;
  }
}
